<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="org.springframework.batch.core.launch.support.RunIdIncrementer" scope="job" id="runIdIncrementerXml" />
    <bean id="ioSampleJobItemProcessor" class="com.jianglibo.batch.batch.PersonItemProcessor"/>

    <bean id="ioSampleJobItemReader" class="org.springframework.batch.item.file.FlatFileItemReader" scope="step">
    	<property name="resource" value="#{jobParameters['input.file.name']}"/>
    	<property name="lineMapper"  ref="ioSampleJobItemReaderLineMapper"/>
    </bean>
    
</beans>